.vscode
data/*
__pycache__/*
mnist/*
tmp/__pycache__/*
tmp/__pycache__/
images/*
__pycache__/
experiment/figs/*
experiment/statistics
experiment/weights
experiment/debugging_sgld/*
!experiment/debugging_sgld/.gitkeep
parkinsons_telemonitoring/__pycache__
parkinsons_telemonitoring/data/__pycache__
parkinsons_telemonitoring/data/fitted_tensors.pt
parkinsons_telemonitoring/data/parkinsons_data.csv
parkinsons_telemonitoring/data/scalar_X.joblib
parkinsons_telemonitoring/data/scalar_y.joblib
parkinsons_telemonitoring/figs/*
parkinsons_telemonitoring/statistics/*
parkinsons_telemonitoring/weights/*
parkinsons_telemonitoring/SGLD_ablation/*
parkinsons_telemonitoring/SGLD_ablation/old_ablation1/*
!parkinsons_telemonitoring/SGLD_ablation/.gitkeep


experiment/hpc_output/*
experiment/hpc_err/*
experiment/weights/*

__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
hpc_venv/

!*/.gitkeep
