
#Etc.
.vscode
images/*
.DS_Store
._*


#Data
data/
data/*
mnist/
mnist/*

#Experiment
experiment/figs/
experiment/figs/*
experiment/weights
experiment/weights/*
experiment/debugging_sgld/*
experiment/statistics/
experiment/sensitivity/*
experiment/deprecated/
experiment/deprecated/*

experiment/hpc_output/*
experiment/hpc_err/*

experiment/weights/
experiment/hpc_output/
experiment/hpc_err/
experiment/debugging_sgld/
experiment/short_runs/
experiment/single_runs/
experiment/tmp/


experiment/MNIST_distillation/
!experiment/MNIST_distillation/.gitkeep

!experiment/debugging_sgld/.gitkeep
!experiment/sensitivity/.gitkeep







#Parkinsons
parkinsons_telemonitoring/__pycache__
parkinsons_telemonitoring/data/__pycache__
parkinsons_telemonitoring/data/fitted_tensors.pt
parkinsons_telemonitoring/data/parkinsons_data.csv
parkinsons_telemonitoring/data/scalar_X.joblib
parkinsons_telemonitoring/data/scalar_y.joblib
parkinsons_telemonitoring/figs/*
parkinsons_telemonitoring/statistics/*
parkinsons_telemonitoring/weights/*
parkinsons_telemonitoring/SGLD_ablation/*
parkinsons_telemonitoring/SGLD_ablation/old_ablation1/*
parkinsons_telemonitoring/deprecated/
parkinsons_telemonitoring/SGLD_single_run/
parkinsons_telemonitoring/SGLD_sensitivity/
!parkinsons_telemonitoring/SGLD_ablation/.gitkeep



#Python
__pycache__/
__pycache__/*
tmp/__pycache__/*
tmp/__pycache__/
*.pyc
*.pyo
*.pyd
hpc_venv/

#For folders
!*/.gitkeep
