absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-retry==2.9.1
aiosignal==1.3.2
alpaca-py==0.27.1
amqp==5.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
appdirs==1.4.4
appnope==0.1.4
asttokens==2.4.1
asyncssh==2.19.0
atpublic==5.0
attrs==24.3.0
beautifulsoup4==4.12.3
billiard==4.2.1
cachetools==5.5.1
celery==5.4.0
certifi==2024.7.4
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
comm==0.2.2
configobj==5.0.9
contourpy==1.2.1
coverage==7.6.10
cryptography==43.0.3
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
deprecation==2.1.0
dictdiffer==0.9.0
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
docker-pycreds==0.4.0
dpath==2.2.0
dulwich==0.22.7
dvc==3.59.0
dvc-data==3.16.8
dvc-gdrive==3.0.1
dvc-http==2.32.0
dvc-objects==5.1.0
dvc-render==1.0.2
dvc-studio-client==0.21.0
dvc-task==0.40.2
dynaconf==3.2.6
entrypoints==0.4
evidently==0.5.1
executing==2.0.1
# Editable install with no version control (exercises==0.0.1)
-e /Users/fluffysnail/Library/CloudStorage/OneDrive-Personal/dtu/current/mlops_day3/day3_2
Faker==33.3.1
fastapi==0.115.6
filelock==3.14.0
flatten-dict==0.4.2
flufl.lock==8.1.0
fonttools==4.53.0
frozenlist==1.5.0
fsspec==2024.12.0
funcy==2.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.0
google-api-python-client==2.159.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.66.0
grandalf==0.8
# Editable install with no version control (group83_mlops==0.0.1)
-e /Users/fluffysnail/Library/CloudStorage/OneDrive-Personal/dtu/current/Group83-MLOps-02476
grpcio==1.69.0
gto==1.7.2
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.27.1
hydra-core==1.3.2
identify==2.6.5
idna==3.7
iniconfig==2.0.0
invoke==2.2.0
ipykernel==6.29.4
ipython==8.25.0
iterative-telemetry==0.0.9
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
kombu==5.4.2
litestar==2.14.0
litestar-htmx==0.4.1
loguru==0.7.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
# Editable install with no version control (mlobsproject_02476==0.0.1)
-e /Users/fluffysnail/Library/CloudStorage/OneDrive-Personal/dtu/current/MLOpsProject/MLOpsProject
mpmath==1.3.0
msgpack==1.0.8
msgspec==0.19.0
multidict==6.1.0
mypy==1.14.1
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
nodeenv==1.9.1
numpy==2.2.1
oauth2client==4.1.3
omegaconf==2.3.0
opencv-python==4.11.0.86
orjson==3.10.15
packaging==24.0
pandas==2.2.2
parso==0.8.4
pathspec==0.12.1
patsy==1.0.1
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.2.2
plotly==5.24.1
pluggy==1.5.0
polyfactory==2.18.1
pre-commit==3.3.3
# Editable install with no version control (project_exercise==0.0.1)
-e /Users/fluffysnail/Library/CloudStorage/OneDrive-Personal/dtu/current/dtu_mlops/w1d2/exercise
prompt_toolkit==3.0.46
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.5
pydantic_core==2.27.2
pydot==3.0.4
PyDrive2==1.21.3
pygit2==1.17.0
Pygments==2.18.0
pygtrie==2.5.0
pyOpenSSL==24.2.1
pyparsing==3.1.2
PySocks==1.7.1
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2024.1
PyYAML==6.0.2
pyzmq==26.0.3
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rich-click==1.8.5
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.8.6
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.15.1
scmrepo==3.3.9
semver==3.0.2
sentry-sdk==2.20.0
setproctitle==1.3.4
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.1
six==1.16.0
smmap==5.0.2
snakeviz==2.2.2
sniffio==1.3.1
soupsieve==2.6
sqltrie==0.11.1
sseclient-py==1.8.0
stack-data==0.6.3
starlette==0.41.3
statsmodels==0.14.4
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
tokenizers==0.21.0
tomlkit==0.13.2
torch==2.5.1
torch-tb-profiler==0.4.3
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.0
typer==0.15.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
uritemplate==4.1.1
urllib3==2.2.2
uuid6==2024.7.10
uvicorn==0.34.0
uvloop==0.21.0
vine==5.1.0
virtualenv==20.28.1
voluptuous==0.15.2
wandb==0.19.4
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.1.3
yarl==1.18.3
zc.lockfile==3.0.post1
