# requirements.txt for the complete project

# PyTorch Ecosystem
torch
pytorch-lightning
torchmetrics
tensorboard

# Data Handling and Scientific Computing
numpy
pandas
scipy
scikit-learn

# Utilities and Plotting
matplotlib
tqdm